// Define mixins
@mixin mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 801px) and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1201px) {
    @content;
  }
}   
.Home{
    display: flex;
    width:800px;
    height: 600px;
    margin-left: 25%;
    margin-top: 3%;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
    justify-items: auto;

      @include mobile {
            // flex-direction: column;
            width: 100%;
            margin-left: 0;
        }
        @include tablet {
            width: 100%;
            margin-left: 0;
        }
    
     
    
    .Sidebar{
       flex: 1; 
       background-color: #5d5b8d;
    
       
       .Navbar{
        display: flex;
        padding: 15.5px;
        background-color: #2f2d52;
       
      
       
            #ProfilePic{
                display: none;
                  
               
            }

        
            
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                
               
            }
            .Username{
                display: flex;
                margin-top: 10px;
                margin-left: 10px;
                width: 100px ;
                color: lightgray;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                display: inline-block;
                
                 @include mobile {
                        width: 100%;
                }
                @include tablet {
                        width: 100%;
                        
                }
            }
            
           
        
       }
       .search{
            //    border: solid;
                display: flex;
                flex-direction: column;
                margin-top: 20px;
            
                
                .Searchform{
                    display: flex;
                    
                    input{
                        border-radius: 5px;
                        height: 30px;
                        margin-top: 5px;
                        background-color:transparent;
                        border: none;
                        border-bottom: solid purple    ;
                        color: white;
                        outline: none;
                        width: 200px;
                        
                        
                       
                        &::placeholder{
                            color: lightgray;
                          
                           
                        }
                    }
                }
                .userChat{
                    display: flex;
                    flex-direction: row; 
                    align-items: center;
                    padding: 10px;
                   
                    &:hover{
                        background-color: #2f2d52;
                    }
                    cursor: pointer;
                    img{
                        display: flex;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                    span{
                        display: flex;
                        margin-top: 5px;
                        margin-left: 10px;
                        width: 100px ;
                        font-size: 18px;
                        font-weight: 500; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: inline-block;
                    }
                   
                }
            }
            .Chats::-webkit-scrollbar {
            display: none;
            }
            /* Create a custom scroll bar thumb */
            .Chats::-webkit-scrollbar-thumb {
            background-color: #555555;
            border-radius: 5px;
            }

            /* Optional: On hover, change the thumb color */
            .Chats::-webkit-scrollbar-thumb:hover {
            background-color: #888888;
            }

            .Chats{
                height: 480px;
                overflow-y: scroll;
                scrollbar-width: thin; /* For Firefox, set the width of the scrollbar */
                scrollbar-color: #555555 #f1f1f1; 

                .userChat{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: #2f2d52;
                    }
                    
                    img{
                        
                        display: flex;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                    span{
                        display: flex;
                        margin-top:0px;
                        margin-left: 10px;
                        width: 100px ;
                        font-size: 18px;
                        font-weight: 500; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;//don't allow turning back to the next line
                        display: inline-block;
                    }
                      
                    p{
                        
                        display: flex;
                        margin-top: 2px;
                        margin-left: 10px;
                        align-self: center;
                        width: 100px ; 
                        font-size: 12px;
                        color: lightgray;
                    }
                }
            }
    }



    .Chat{
        flex: 2;
        background-color: rgb(175,175,175);
        
 
        
        .Info{
            height: 50px;
            background-color: #5d5b8d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            color: lightgray;

            .chatIcon{
                display: flex;
                gap: 10px;  
                
                img{
                
                padding: 10px;
                
                }
            }

            span{
                
                display: inline-block;
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0px auto;
                padding: 10px;
                
            }
            
        }
        .messages{
           background-color: #ddddf7;
            padding: 10px;
            height: 440px;
            overflow-y: scroll;
            background-color: #2f2d52;
            .message{
                display: flex;
                gap: 20px;
                .messageInfo{
                    display: flex;
                    flex-direction: column;
                    color: grey;
                    font-weight: 300;
                    
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                    span{
                 
                    }
                }
                .messageContent{

                    display: flex;
                    flex-direction: column;
                    max-width: 80%;
                    gap: 10px;
                    align-items: flex-start;
                    
                    
                    
                    p{
                        background-color: white;
                        border-radius: 10px;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                    }
                    img{
                        width: 80%;
                        height: 80%;
                        margin-left: 10px;
                        margin-top: 5px;
                    }

                }
                &.owner{

                    flex-direction: row-reverse;

                    .messageContent{
                        align-items: flex-end;
                    }

                    p{
                        background-color: #8da4f1;
                        color: white;
                        border-radius: 10px 0px 10px 10px;
                        max-width: max-content;
                    }
                }
            }
           
            
        }  
          .messages::-webkit-scrollbar {
            display: none;
            }
            /* Create a custom scroll bar thumb */
            .messags::-webkit-scrollbar-thumb {
            background-color: #555555;
            border-radius: 5px;
            }

            /* Optional: On hover, change the thumb color */
            .messages::-webkit-scrollbar-thumb:hover {
            background-color: #888888;
            }
        .input{
             height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

            input{
                height: 100%;
                width:100%;
                border: none;
                border-radius: 10px;
                outline: none;
                background-color: rgb(175, 175,175);
                &::placeholder{
                    color: lightgray;
                    padding-left: 10px;
                }
            }


            .send{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                .fichier{
                    display: flex;

                }
                    .sendB{
                            border: none;
                            padding: 10px 15px;
                            background-color: transparent;
                            border-radius: 15px;
                            
                            // &:hover{
                                
                            //     // cursor: pointer;
                            // }
                            img{
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                // background-color: #2f2d52;
                                // padding: 5px;
                                background-color: transparent;
                                 &:hover{
                                background-color: #2f2d52;
                            }
                            }
                        }
                        img{
                            width: 24px;
                            height: 24px;
                            cursor: pointer;
                            background-color: transparent;
                            border-radius: 50%;
                            &:hover{
                                // background-color: #2f2d52;
                            }
                        }
             
                
            }
        }
        
    }
}


