/* Post.scss */
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
   background-image: linear-gradient(180deg, hwb(0 0% 100%) 0%, #8f94fb 100%);
   outline: none;
}

.Form-Container {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(203, 218, 229);
  width: 100%;
  height: 150px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 1%;
}

.pub{
  background-color: rgb(81, 214, 33);
}

.inp {
 
  font-size: 16px;
  padding: 10px 50px 10px 50px;
  position: relative;
  left: 20%;
  outline: none;
  border-radius: 20px;
}

.vid{
  background-color: rgb(203, 218, 229);
  width: 150px;
  position: relative;
  top: -40px;
  left: 30%;
}
.icvid{
  position: relative;
  top:5px;
}
.photo{
  background-color: rgb(203, 218, 229);
  width: 250px;
  position: relative;
  top: 90px;
  left: -1510%;
}
.icph{
  position: relative;
  top:5px;
 
}
.ichum{
  position: relative;
  top:5px;
  left: -5%;

}
.phot{
  background-color: rgb(203, 218, 229);
  width: 150px;
  position: relative;
  left:-650px;
  top: 115px;
}
.hum{
  background-color: rgb(203, 218, 229);
  width: 150px;
  position: relative;
  color: rgb(68, 117, 214);
  left:-580px;
  top: 116px;
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  left: 150%;
}

.video {
  color: #1877f2;
  cursor: pointer;
  margin-left: 10px;
}

.close-button {
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}


.Posts {
  margin-top: -40px;
  width: 100%;
 
}
// .post{
//   width: 580px;
// }
.post-text{
  position: relative;
  left: 90px;
}

.posts-title {
  font-size: 32px; 
  color: #020202; 
  margin-top: 20px; 
  text-align: center; 
}

.underline {
  display: block;
  text-align: center;
  font-size: 16px; 
  color: #050404; 
  position: relative;
  top: -20px;
}
.underline2 {
  display: block;
  text-align: center;
  font-size: 16px; 
  color: #050505; 
  position: relative;
  top: -40px;
}
.post {
  background-image: linear-gradient(180deg, hwb(0 97% 3%) 0%, #393939 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.post-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.posted-by {
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
  color: #333;
  margin: 0;
}
.lik{
  position: relative;
  left: 150px;
}
.dis{
  position: relative;
  left: 300px;
}
.post-text {
  font-size: 20px;
  margin: 5px 0;
  line-height: 1.4;
  color: #333333;
  position: relative;
  left: 0px;
}

.post-text:before {
  content: open-quote;
  font-size: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.post-text:after {
  content: close-quote;
  font-size: 24px;
  margin-left: 5px;
  vertical-align: middle;
}

.post-text em {
  font-style: italic;
  color: #e74c3c;
}

.post-text strong {
  font-weight: bold;
}

.post-text a {
  color: #3498db;
  text-decoration: underline;
}

.post-text a:hover {
  color: #2980b9;
  text-decoration: none;
}

.post-text ul,
.post-text ol {
  padding-left: 20px;
}

.post-text li {
  margin-bottom: 5px;
}

.post-text img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}



.posted-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.like-dislike {
  // margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {

  border: none;
  cursor: pointer;
  margin-right: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s;
}
button:hover {
  background-color: #045387;
}
.posted-image {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.input1 {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.comments {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  color: white;
}
.comment {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.commented-by {
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.comment-text {
  margin-top: 5px;
  font-size: 14px;
  margin: 5px 0;
}
