/* Post.scss */

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.AjouterPost {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.Form-Container {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inp {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 10px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.video {
  color: #1877f2;
  cursor: pointer;
  margin-left: 10px;
}

.close-button {
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}


.posts {
  margin-top: 20px;
}

.post {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.post-details {
  display: flex;
  align-items: center;
}

.posted-by {
  font-weight: bold;
  margin-right: 10px;
}

.post-text {
  margin-top: 5px;
}

.posted-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.like-dislike {
  margin-top: 10px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.comments {
  margin-top: 20px;
}

.comment {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.commented-by {
  font-weight: bold;
  margin-right: 10px;
}

.comment-text {
  margin-top: 5px;
}
