.profile-container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(180deg, hwb(0 0% 100%) 0%, #8f94fb 100%);
  }
  
  .profile-header {
    text-align: center;
    padding: 20px 0;

  }
  
  .profile-cover {
    max-width: 100%;
    height: auto;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -75px;
    border: 3px solid #fff;
  }
  
  .profile-info h1 {
    font-size: 24px;
    margin: 10px 0;
    color: whitesmoke;
  }
  
  .profile-info p {
    font-size: 18px;
    color: #888;
  }
  
  .profile-content {
    // background-image: linear-gradient(180deg, hwb(0 0% 100%) 0%, #8f94fb 100%);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .post-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    // font-weight: bold;
  }
  
  .post-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .post-form button:hover {
    background-color: #0056b3;
  }
  
  .posts .post {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .posts .post p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
    .posts .post .commentss {
    font-size: 16px;
    line-height: 1.5;
    color: whitesmoke;
    margin-left: 20px;
  }

.post-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
  }
  
  .post-actions button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: #333;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .post-actions button:hover {
    color: #007bff;
  }
  
.comment-text {
  margin-top: 5px;
  font-size: 14px;
  margin: 5px 0;
}
.Post-text {
  font-size: 15px;
  margin-top: 30px;
  line-height: 1.4;
  color: #333333;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;

}

.post-text:before {
  // content: open-quote;
  font-size: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.post-text:after {
  // content: close-quote;
  font-size: 24px;
  margin-left: 5px;
  vertical-align: middle;
}

.post-text em {
  font-style: italic;
  color: #e74c3c;
}

.post-text strong {
  font-weight: bold;
}

.post-text a {
  color: #3498db;
   text-decoration: underline;
}

.post-text a:hover {
  color: #2980b9;
  text-decoration: none;
  
}

.post-text ul,
.post-text ol {
  padding-left: 20px;
}

.post-text li {
  margin-bottom: 5px;
}

.post-text img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}