html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, hwb(0 0% 100%) 0%, #8f94fb 100%);
    background-color: #8f94fb;
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  height: 100%;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
